{% extends 'mbtbase.html' %}
{% load static %}

{% block title %}{{ full_route_num }}{% endblock %}

{% block content %}

<h2>Make a timetable for {{ route.route_num }} {{ direction }} to
  {% if direction == "inbound" %}
  {{ route.inbound_destination }}
  {% else %}
  {{ route.outbound_destination }}
  {% endif %}
</h2>

<form method="POST" class="fleet-edit-wrapper">
  {% csrf_token %}

  <label for="days">Select Operating Days:</label>
  <select name="days[]" id="days" multiple required size="7">
    {% for day in days %}
      <option value="{{ day.id }}">{{ day.name }}</option>
    {% endfor %}
  </select>
  <small>Hold <strong>Ctrl</strong> (or <strong>Cmd</strong> on Mac) to select multiple days</small>

  <label for="timetable_url">Transport Thing or BusTimes.org Timetable URL:</label>
  <input type="url" name="timetable_url" id="timetable_url" required>

  <button type="submit">Import Timetable</button>
</form>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock %}