{% extends "mbtbase.html" %}
{% load static %}

{% block content %}
<h2>Add Helper for {{ operator.operator_name }}</h2>

<div>

<script>
    function selectAll(level) {
        $('input[type="checkbox"]').each(function() {
            var permLevel = parseInt($(this).data('level'));
            if (permLevel <= level) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }

            if (level === 0) {$(this).prop('checked', true);}
        });
    }
</script>

<h3>Quick Perms</h3>
<button onclick="selectAll(1)">Level 1</button>
<button onclick="selectAll(2)">Level 2</button>
<button onclick="selectAll(3)">Level 3</button>
<button onclick="selectAll(4)">Level 4</button>
<button onclick="selectAll(5)">Level 5</button>
<button onclick="selectAll(0)">All</button>
</div>
<br>
<form method="POST" class="fleet-edit-wrapper">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-primary">Add Helper</button>
</form>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('.select2').select2({
        ajax: {
            url: '/api/user-search/',
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    username__icontains: params.term,  // query parameter for your API
                };
            },
            processResults: function(data) {
                return {
                    results: data.map(function(user) {
                        return { id: user.id, text: user.username };
                    })
                };
            },
            cache: true
        },
        placeholder: 'Search for user...',
        minimumInputLength: 1
    });
});
</script>
{% endblock %}
