{% extends "mbtbase.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/narrow.css' %}">
    <style>
        .vehicle {
          margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}{{ operator_type.operator_type_name }}{% endblock %}

{% block content %}
<h2>{{ operator_type.operator_type_name }}</h2>

<ul>
  {% for operator in operators %}
    <li class="vehicle">
      {% if operator.operator_name %}
        <a href="{% url 'operator' operator.operator_slug %}">{{ operator.operator_name }}</a>
        <p style="margin: 0;">{{ operator.operator_code }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}