{% extends 'mbtbase.html' %}
{% load static %}

{% block title %}{{ full_route_num }}{% endblock %}

{% block content %}

<h2>Timetable Options for {{ route.route_num }} - {{ route.inbound_destination }} {% if route.outbound_destination %} - {{ route.outbound_destination }}{% endif %}</h2>

{% if route.outbound_destination %}
  {% if 'Add Timetables' in helper_permissions or 'owner' in helper_permissions %}
  <a href="{% url 'add-timetable' operator.operator_slug route.id 'inbound' %}">Add New Inbound Timetable</a><br>
  <a href="{% url 'import-timetable' operator.operator_slug route.id 'inbound' %}">Import BusTimes Inbound Timetable</a><br><br>

  <a href="{% url 'add-timetable' operator.operator_slug route.id 'outbound' %}">Add New Outbound Timetable</a><br>
  <a href="{% url 'import-timetable' operator.operator_slug route.id 'outbound' %}">Import BusTimes Outbound Timetable</a><br><br>
  {% endif %}
{% else %}
  {% if 'Add Timetables' in helper_permissions or 'owner' in helper_permissions %}
  <a href="{% url 'add-timetable' operator.operator_slug route.id 'inbound' %}">Add New Timetable</a><br>
  <a href="{% url 'import-timetable' operator.operator_slug route.id 'inbound' %}">Import BusTimes Timetable</a><br><br>
  {% endif %}
{% endif %}

{% if 'Edit Timetables' in helper_permissions or 'owner' in helper_permissions %}
{% for timetable in all_timetables %}
  <div class="timetable-entry">
    Direction: {% if timetable.inbound %}Inbound{% else %}Outbound{% endif %}<br>
    Days: 
    {% for day in timetable.day_type.all %}
      {{ day.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <ul class="horizontal" style="margin-top: 0;">
        <li><a href="{% url 'edit-timetable' operator.operator_slug route.id timetable.id %}">Edit</a></li>
        <li><a href="{% url 'delete-timetable' operator.operator_slug route.id timetable.id %}">Delete</a></li>
    </ul>
  </div>
{% endfor %}
{% endif %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock %}